*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.hidden{
    display: none;
}

.show{
    display: block;
}

/*******************/
/*Countdown Message*/
/*******************/

.countdown-message .countdown-message-title{
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #323232;
}

.countdown-message .countdown-message-replay{
    font-size: 1.2rem;
    padding: 0.2rem 0.6rem;
    background-color: #323232;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

/***********/
/*Countdown*/
/***********/

.countdown-count .countdown-count-message{
    font-size: 1.5rem;
    color: #323232;
}

.countdown-count .countdown-count-nums{
    padding: 3rem;
    position: relative;
    overflow: hidden;
}

.countdown-count .countdown-count-nums .num{
    font-size: 5rem;
    color: teal;
    position: absolute;
    transform-origin: bottom center;
    transform: translate(-50%,-50%) rotate(180deg);
}

.countdown-count .countdown-count-nums .num.state-1{
    transform: translate(-50%,-50%) rotate(0deg);
    animation: state1 0.3s ease-in;
}

@keyframes state1{
    0%{
        transform: translate(-50%,-50%) rotate(180deg);
    }
    50%{
        transform: translate(-50%,-50%) rotate(-20deg);
    }
    75%{
        transform: translate(-50%,-50%) rotate(10deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
}

.countdown-count .countdown-count-nums .num.state-2{
    transform: translate(-50%,-50%) rotate(-180deg);
    animation: state2 0.3s ease-in;
}

@keyframes state2{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    33%{
        transform: translate(-50%,-50%) rotate(20deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(-180deg);
    }
}

.appear{
    animation: appear 0.5s ease-in;
}

@keyframes appear{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
